{% extends "layout.html" %}
{% block title %}
<title>WeChat - Chat</title>
<link rel="stylesheet" href="{{url_for('static',filename='/css/maxcdn.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='/css/main.css')}}">
{% endblock %}
{% block body %}
<!-- Heading -->
<a href="/" name="20"><h5>&#8592 Back Contacts</h5></a>
<div class="row heading">
  <a href="/view-{{reciver}}">
  <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
    <div class="heading-avatar-icon">
      <img src="{{url_for('static',filename='/img/')}}{{reciver}}.jpg">
    </div>
  </div>
  <div class="col-sm-8 col-xs-7 heading-name">
    <span><b>{{reciver[0]|upper}}{{reciver[1:]}}</b></span>
  </div>
</a>
</div>
<!-- Heading End -->

<!-- Message Box -->
<div class="row message" id="conversation">
  <div id="load"></div>
</div>
<!-- Message Box End -->

<script type="text/javascript" src=" {{url_for('static',filename='/jq.js')}}"></script>
<script>

  var lastLength, flag=0;
  var interval = setInterval(loadXMLDoc,1000);
  function loadXMLDoc() {

  var atBottom = document.getElementById('conversation');
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200)
    {
      var data = JSON.parse(this.responseText)

      if (flag == 0)
      {
        lastLength = data["sender"].length - 1
        flag = 1
      }

      if (data["sender"].length > lastLength)
      {
        lastLength = data["sender"].length
        var privious = "";
        for (i = 0;i < data['sender'].length ;i++)
        {
          if ("{{sender}}" == data["sender"][i])
          {
            privious = document.getElementById("load").innerHTML = privious +
            '<div class="row message-body"><div class="col-sm-12 message-main-sender"><div class="sender"><div class="message-text">'+data["msg"][i]+'</div><span class="message-time pull-right">'+data["dateTime"][i]+'</span></div></div></div>'
          }
          else
          {
            privious = document.getElementById("load").innerHTML = privious +
            '<div class="row message-body"><div class="col-sm-12 message-main-receiver"><div class="receiver"><div class="message-text">'+data["msg"][i]+'</div><span class="message-time pull-right">'+data["dateTime"][i]+'</span></div></div></div>'
          }
        }
        atBottom.scrollTop = atBottom.scrollHeight - atBottom.clientHeight;
       xhttp.abort()
      }
    }
  };
  xhttp.open("GET", "/@{{sender}}-{{reciver}}", true);
  xhttp.send();
}
</script>
<!-- Reply Box -->
<form action="/{{sender}}-{{reciver}}" method="POST">
  <div class="row reply">
    <div class="col-sm-9 col-xs-9 reply-main">
      <input type="text" name="msg" class="form-control" rows="1" id="comment" placeholder="Type here . . .">
    </div>
      <input type="submit" onsubmit="loadXMLDoc();" class="btn btn-sma" id="send" value="Send">
  </div>
</form>
<!-- Reply Box End -->
{% endblock %}

