{% extends "layout.html" %}
{% block title %}
<title>WeChat - Edit Profile</title>
<link rel="stylesheet" href="{{url_for('static',filename='/css/maxcdn.css')}}"> 
<link rel="stylesheet" href="{{url_for('static',filename='/css/main.css')}}">
{% endblock %}

{% block body %}
<a href="/" name="20"><h5>&#8592 Back Contacts</h5></a>
<div class="upload-img">
  <div class="row heading">
      <div class="col-sm-8 col-xs-7 heading-name">
          <div class="heading-name-meta">User Profile</div>
      </div>
  </div>
  <div class="profile-userpic">
      <img src="{{url_for('static',filename='/img/')}}{{user.username}}.jpg" id="img1" class="img-responsive" alt="profile picture">
  </div><hr>
  <div>
    <form action="/{{user.username}}" method="POST" enctype="multipart/form-data">
      <input type="file" name="fileImg" class=" FC-sma">
      <input type="submit" class="btn btn-sma" value="Upload">
    </form>
  </div><hr>
  <div class="heading-name-meta">User Name</div>
  <div class="text-center">{{user.username}}</div>
</div>
  
{% endblock %}

    